@tailwind base;
@tailwind components;
.bgimage
{
    background-image: url("C:\Users\utpal\OneDrive\Documents\CoC_Hackaton_RailwayConcession\src\loginImage.png");
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%;
    opacity: 0.9;
}
@tailwind utilities;